**Proyecto II de Programación para Estadística ll**

**Tema:** La evolución del gasto corriente en salud (% del PIB), la pobreza y la incidencia de las enfermedades transmisibles y su variación entre países con diferentes desarrollos económicos durante la última década

**Profesor:** Michael Sanchez Soto

**Estudiantes:** Cyra Coto, Gustavo Jiménez y Abigail Murillo

**Pregunta**

¿Cómo ha evolucionado el gasto corriente en salud (% del PIB), la pobreza y la incidencia de las enfermedades transmisibles durante la última década y de qué manera varía esta relación entre países con diferentes niveles de desarrollo económico?

In [38]:
#Importación de las librerías y carga de los datas frames

import pandas as pd
import numpy as np

from google.colab import files


uploaded=files.upload()

#df_dengue=pd.read_excel("dengue-global-data-2025-11-12.xlsx")

#df_HIV=pd.read_excel("HIV_estimates_from_1990-to-present.xlsx")
df_gasto_salud = pd.read_json("Gasto_corriente_en_salud_PIB(1).json")
df_gasto_salud.head()

#df_indice_pobreza=pd.read_csv("indice de pobreza global.csv")

#df_tuberculosis=pd.read_csv("number-of-tuberculosis-cases.csv")

Saving Gasto_corriente_en_salud_PIB(1).json to Gasto_corriente_en_salud_PIB(1) (5).json

,Data Source,Indicadores del desarrollo mundial,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,Last Updated Date,1759795200000,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country Name,Country Code,Indicator Name,2000.000000,2001.000000,2002.000000,2003.000000,2004.00000,2005.000000,2006.000000,...,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2022.00000,2023.0,2024.0
3,Aruba,ABW,Gasto corriente en salud (% del PIB),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,None,AFE,Gasto corriente en salud (% del PIB),5.654027,5.813231,5.442299,6.023682,6.10932,5.955198,5.972892,...,5.971391,6.067786,5.929017,5.789155,5.812676,6.035806,6.044468,5.72792,NaN,NaN

In [ ]:
df_dengue.columns

Index(['date', 'date_lab', 'who_region', 'who_region_long', 'country', 'iso3',
       'cases', 'confirmed_cases', 'severe_cases', 'deaths', 'cfr', 'prop_sev',
       'cfr_ci_lower', 'cfr_ci_upper', 'prop_sev_ci_lower',
       'prop_sev_ci_upper'],
      dtype='object')

In [ ]:
display(df_dengue)

,date,date_lab,who_region,who_region_long,country,iso3,cases,confirmed_cases,severe_cases,deaths,cfr,prop_sev,cfr_ci_lower,cfr_ci_upper,prop_sev_ci_lower,prop_sev_ci_upper
0,2010-01-01,Jan 2010,SEAR,South-East Asia Region,Thailand,THA,1496.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-02-01,Feb 2010,SEAR,South-East Asia Region,Thailand,THA,1528.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-03-01,Mar 2010,SEAR,South-East Asia Region,Thailand,THA,2020.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-04-01,Apr 2010,SEAR,South-East Asia Region,Thailand,THA,1868.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-05-01,May 2010,SEAR,South-East Asia Region,Thailand,THA,3666.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9900,2025-09-01,Sep 2025,WPR,Western Pacific Region,Tokelau,TKL,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9901,2025-09-01,Sep 2025,WPR,Western Pacific Region,Tonga,TON,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9902,2025-09-01,Sep 2025,WPR,Western Pacific Region,Tuvalu,TUV,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9903,2025-09-01,Sep 2025,WPR,Western Pacific Region,Vanuatu,VUT,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9904,2025-09-01,Sep 2025,WPR,Western Pacific Region,Wallis and Futuna,WLF,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_dengue.isna().sum() #La base tiene varios varios NA's

date                    0
date_lab                0
who_region              0
who_region_long         0
country                 0
iso3                    0
cases                1328
confirmed_cases      3900
severe_cases         4299
deaths               2222
cfr                  5053
prop_sev             5861
cfr_ci_lower         2279
cfr_ci_upper         2279
prop_sev_ci_lower    4369
prop_sev_ci_upper    4369
dtype: int64

In [ ]:
df_dengue.dtypes #Vemos que que las variables están en el formato correcto, además todos los valores faltantes son númericos, por lo que tenemos la posibilidad de sustituirlos con el valor de la mediana

date                 datetime64[ns]
date_lab                     object
who_region                   object
who_region_long              object
country                      object
iso3                         object
cases                       float64
confirmed_cases             float64
severe_cases                float64
deaths                      float64
cfr                         float64
prop_sev                    float64
cfr_ci_lower                float64
cfr_ci_upper                float64
prop_sev_ci_lower           float64
prop_sev_ci_upper           float64
dtype: object

In [ ]:
df_dengue["cases"] = df_dengue["cases"].fillna(0)
df_dengue["confirmed_cases"] = df_dengue["confirmed_cases"].fillna(0) #LLenamos los valores faltantes con 0 ya que no hay registros
df_dengue["severe_cases"] = df_dengue["severe_cases"].fillna(0)
df_dengue["deaths"] = df_dengue["deaths"].fillna(0)
df_dengue["cfr"] = df_dengue["cfr"].fillna(0)
df_dengue["cfr_ci_upper"] = df_dengue["cfr_ci_upper"].fillna("Desconocido") #No sabemos hasta que número podría llegar
df_dengue["cfr_ci_lower"] = df_dengue["cfr_ci_lower"].fillna(0)
df_dengue["prop_sev"] = df_dengue["prop_sev"].fillna(0)
df_dengue["prop_sev_ci_lower"] = df_dengue["prop_sev_ci_lower"].fillna(0)
df_dengue["prop_sev_ci_upper"] = df_dengue["prop_sev_ci_upper"].fillna("Desconocido") #No sabemos hasta que número podría llegar
df_dengue["prop_sev_ci_lower"] = df_dengue["prop_sev_ci_lower"].fillna(0)

In [ ]:
df_dengue.isna().sum() # Hemos limpiado los NA's

date                 0
date_lab             0
who_region           0
who_region_long      0
country              0
iso3                 0
cases                0
confirmed_cases      0
severe_cases         0
deaths               0
cfr                  0
prop_sev             0
cfr_ci_lower         0
cfr_ci_upper         0
prop_sev_ci_lower    0
prop_sev_ci_upper    0
dtype: int64

In [ ]:
df_dengue.duplicated().sum() #No posee duplicados

np.int64(0)

In [ ]:
display(df_HIV) # Esta base de datos requiere de un tratamiento más complejo ya que debemos de acomodarlo de manera que sea

,HIV estimates with uncertainty bounds,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,1990-2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Source: UNAIDS 2025 estimates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Adults (15-49) prevalence (%),NaN,NaN,Young women (15-24) prevalence (%),NaN,NaN,Young men (15-24) prevalence (%),...,NaN,Children (0-14) newly infected with HIV,NaN,NaN,Adults (15+) newly infected with HIV,NaN,NaN,Adults and children newly infected with HIV,NaN,NaN
4,NaN,NaN,NaN,Estimate,Low,High,Estimate,Low,High,Estimate,...,High,Estimate,Low,High,Estimate,Low,High,Estimate,Low,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6650,2024,TUV,Tuvalu,0.4,0.2,0.7,<0.1,<0.1,0.2,0.1,...,...,...,...,...,<100,<100,<100,<100,<100,<100
6651,2024,SLB,Solomon Islands,<0.1,<0.1,<0.1,<0.1,<0.1,<0.1,<0.1,...,...,...,...,...,<100,<100,<100,<100,<100,<100
6652,2024,ATG,Antigua and Barbuda,1.1,1,1.3,0.2,0.2,0.3,0.2,...,...,...,...,...,<100,<100,<100,<100,<100,<100
6653,2024,DMA,Dominica,0.5,0.4,0.6,0.1,<0.1,0.2,0.3,...,...,...,...,...,<100,<100,<100,<100,<100,<100
6654,2024,VCT,Saint Vincent and the Grenadines,0.8,0.7,1,0.3,0.2,0.4,0.2,...,...,...,...,...,<100,<100,<100,<100,<100,<100

In [ ]:
df_ = pd.read_excel("HIV_estimates_from_1990-to-present.xlsx", header=[3,4,5])

df_HIV = df.dropna(how="all").dropna(how="all", axis=1)

id_cols = df_HIV.columns[:3]
value_cols = df_HIV.columns[3:]

tidy = df_HIV.set_index(list(id_cols)).stack([0,1,2]).reset_index()

tidy.columns = list(id_cols) + ["indicator","bound","subbound","value"]

/tmp/ipython-input-2803949479.py:8: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  tidy = df_HIV.set_index(list(id_cols)).stack([0,1,2]).reset_index()

In [ ]:
df_HIV

,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Unnamed: 9_level_0,...,Unnamed: 41_level_0,Unnamed: 42_level_0,Unnamed: 43_level_0,Unnamed: 44_level_0,Unnamed: 45_level_0,Unnamed: 46_level_0,Unnamed: 47_level_0,Unnamed: 48_level_0,Unnamed: 49_level_0,Unnamed: 50_level_0
,Unnamed: 0_level_1,Unnamed: 1_level_1,Unnamed: 2_level_1,Adults (15-49) prevalence (%),Adults (15-49) prevalence (%),Adults (15-49) prevalence (%),Young women (15-24) prevalence (%),Young women (15-24) prevalence (%),Young women (15-24) prevalence (%),Young men (15-24) prevalence (%),...,Pregnant women needing antiretrovirals for preventing mother-to-child transmission,Children (0-14) newly infected with HIV,Children (0-14) newly infected with HIV,Children (0-14) newly infected with HIV,Adults (15+) newly infected with HIV,Adults (15+) newly infected with HIV,Adults (15+) newly infected with HIV,Adults and children newly infected with HIV,Adults and children newly infected with HIV,Adults and children newly infected with HIV
,Unnamed: 0_level_2,Unnamed: 1_level_2,Unnamed: 2_level_2,Estimate,Low,High,Estimate,Low,High,Estimate,...,High,Estimate,Low,High,Estimate,Low,High,Estimate,Low,High
0,1990,03M49WLD,Global,0.3,0.3,0.4,0.3,0.2,0.4,0.2,...,670 000,300 000,210 000,440 000,2.2 m,1.8 m,2.9 m,2.5 m,2.0 m,3.2 m
1,1990,UNAAP,Asia and the Pacific,<0.1,<0.1,<0.1,<0.1,<0.1,<0.1,0.1,...,33 000,17 000,13 000,24 000,480 000,410 000,580 000,490 000,430 000,600 000
2,1990,AFG,Afghanistan,<0.1,<0.1,<0.1,<0.1,<0.1,<0.1,<0.1,...,<100,<100,<100,<100,<100,<100,<200,<100,<100,<200
3,1990,AUS,Australia,<0.1,<0.1,0.1,<0.1,<0.1,<0.1,<0.1,...,...,...,...,...,900,870,930,910,870,940
4,1990,BGD,Bangladesh,<0.1,<0.1,<0.1,<0.1,<0.1,<0.1,<0.1,...,...,...,...,...,<100,<100,<100,<100,<100,<100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6645,2024,TUV,Tuvalu,0.4,0.2,0.7,<0.1,<0.1,0.2,0.1,...,...,...,...,...,<100,<100,<100,<100,<100,<100
6646,2024,SLB,Solomon Islands,<0.1,<0.1,<0.1,<0.1,<0.1,<0.1,<0.1,...,...,...,...,...,<100,<100,<100,<100,<100,<100
6647,2024,ATG,Antigua and Barbuda,1.1,1,1.3,0.2,0.2,0.3,0.2,...,...,...,...,...,<100,<100,<100,<100,<100,<100
6648,2024,DMA,Dominica,0.5,0.4,0.6,0.1,<0.1,0.2,0.3,...,...,...,...,...,<100,<100,<100,<100,<100,<100
6649,2024,VCT,Saint Vincent and the Grenadines,0.8,0.7,1,0.3,0.2,0.4,0.2,...,...,...,...,...,<100,<100,<100,<100,<100,<100

In [ ]:
df_HIV.isna().sum() #La base posee varios NA's

In [ ]:
df_HIV.dtypes

In [ ]:
display(df_tuberculosis)

In [ ]:
df_tuberculosis.isna().sum() #La base posee varios NA's

In [ ]:
df_tuberculosis.dtypes # Todas las variables son del tipo correcto de datos

In [ ]:
df_tuberculosis["Code"] = df_tuberculosis["Code"].fillna("No especifica")

In [ ]:
#Preparación de los dataframes



df_dengue



#Convertir fecha y extraer año
df_dengue['date'] = pd.to_datetime(df_dengue['date'])
df_dengue['year'] = df_dengue['date'].dt.year

#Agrupar por país y año
df_grouped = df_dengue.groupby(["country", 'year'], as_index=False).agg({
    'iso3': 'first',
    'who_region': 'first',
    'who_region_long': 'first',
    'confirmed_cases': 'sum',
    'severe_cases': 'sum',
    'deaths': 'sum',
    'cfr': 'mean',
    'prop_sev': 'mean',
    'cfr_ci_lower': 'mean',
    'cfr_ci_upper': 'mean',
    'prop_sev_ci_lower': 'mean',
    'prop_sev_ci_upper': 'mean'
})

print(df_grouped.head())

In [46]:
#Dataframe gasto_salud
#Convertir la primera fila en encabezados
df_gasto_salud.columns = df_gasto_salud.iloc[0]

#Eliminar la fila que ya se usó como encabezado
df_gasto_salud = df_gasto_salud.drop(0).reset_index(drop=True)

In [47]:
df_gasto_salud.head() #lo utilizamos para poder observar el cambio de los nombres de las columnas

,Country Name,Country Code,Indicator Name,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,2023.0,2024.0
0,Aruba,ABW,Gasto corriente en salud (% del PIB),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,None,AFE,Gasto corriente en salud (% del PIB),5.654027,5.813231,5.442299,6.023682,6.109320,5.955198,5.972892,...,5.971391,6.067786,5.929017,5.789155,5.812676,6.035806,6.044468,5.727920,NaN,NaN
2,Afganistán,AFG,Gasto corriente en salud (% del PIB),NaN,NaN,9.443391,8.941258,9.808474,9.948289,10.622766,...,10.105348,11.818590,12.620817,14.208419,14.831320,15.533614,21.508461,23.088169,NaN,NaN
3,None,AFW,Gasto corriente en salud (% del PIB),3.462852,3.486867,3.140402,4.437640,4.279378,4.132311,4.060231,...,3.872041,3.834696,3.742529,3.304625,3.328975,3.892964,4.152319,4.209822,NaN,NaN
4,Angola,AGO,Gasto corriente en salud (% del PIB),1.908599,4.483516,3.329461,3.547973,3.967199,2.852195,2.685535,...,2.605795,2.713150,2.793838,2.594822,2.475188,3.274885,3.092771,2.927376,NaN,NaN

In [48]:
#Ver si el dataframe tiene valores nulos
df_gasto_salud.isna().any()

0
Country Name       True
Country Code      False
Indicator Name    False
2000.0             True
2001.0             True
2002.0             True
2003.0             True
2004.0             True
2005.0             True
2006.0             True
2007.0             True
2008.0             True
2009.0             True
2010.0             True
2011.0             True
2012.0             True
2013.0             True
2014.0             True
2015.0             True
2016.0             True
2017.0             True
2018.0             True
2019.0             True
2020.0             True
2021.0             True
2022.0             True
2023.0             True
2024.0             True
dtype: bool

In [49]:
#Ver cuántos valores nulos hay en cada columna
df_gasto_salud.isna().sum()

0
Country Name        2
Country Code        0
Indicator Name      0
2000.0             34
2001.0             34
2002.0             33
2003.0             31
2004.0             31
2005.0             31
2006.0             31
2007.0             31
2008.0             31
2009.0             31
2010.0             30
2011.0             29
2012.0             29
2013.0             28
2014.0             28
2015.0             28
2016.0             28
2017.0             27
2018.0             26
2019.0             26
2020.0             26
2021.0             26
2022.0             27
2023.0            245
2024.0            266
dtype: int64

In [81]:
df_gasto_salud.columns = df_gasto_salud.columns.astype(str) #transforma nombre de las columnas a tipo texto

In [76]:
#rellenar los NA con la mediana

#convertir columnas 4 en adelante a numéricas
df_gasto_salud.iloc[:, 3:] = df_gasto_salud.iloc[:, 3:].apply(pd.to_numeric, errors="coerce")

#rellenar NA con la mediana de cada columna
for col in df_gasto_salud.columns[3:]:
    mediana = df_gasto_salud[col].median()
    df_gasto_salud[col] = df_gasto_salud[col].fillna(mediana)

#Verificar que no hayan quedado NA
df_gasto_salud.isna().any()

0
Country Name       True
Country Code      False
Indicator Name    False
2000              False
2001              False
2002              False
2003              False
2004              False
2005              False
2006              False
2007              False
2008              False
2009              False
2010              False
2011              False
2012              False
2013              False
2014              False
2015              False
2016              False
2017              False
2018              False
2019              False
2020              False
2021              False
2022              False
2023              False
dtype: bool

In [ ]:
display(df_indice_pobreza)
df_indice_pobreza

In [ ]:
df_indice_pobreza.isna().sum() #La base posee varios NA's

In [ ]:
df_indice_pobreza["ppp"]

In [ ]:
df_indice_pobreza["ppp"].max()

In [ ]:
df_indice_pobreza["ppp"].min()

In [ ]:
mediana_ppp = df_indice_pobreza["ppp"].median() # Utilizamos el valor de la mediana para rellenar valores faltantes

In [ ]:
df_indice_pobreza["watts"] # Watts es una de las columnas que posee NA's
df_indice_pobreza["watts"].max()

In [ ]:
df_indice_pobreza["watts"].min()

In [ ]:
mediana_watts =  df_indice_pobreza["watts"].median()
print(mediana_watts) # Utilizaremos la mediana para estimar rellenar los valores faltantes

In [ ]:
df_indice_pobreza["reporting_pce"] #reporting_pce posee NA's

In [ ]:
df_indice_pobreza["reporting_pce"].max()

In [ ]:
df_indice_pobreza["reporting_pce"].min()

In [ ]:
mediana_pce = df_indice_pobreza["reporting_pce"].median() #Utilizaremos la mediana para estimar los valores faltantes

In [ ]:
df_indice_pobreza["watts"] = df_indice_pobreza["watts"].fillna(df_indice_pobreza["watts"].median())
df_indice_pobreza["ppp"] = df_indice_pobreza["ppp"].fillna(df_indice_pobreza["ppp"].median())
df_indice_pobreza["reporting_pce"] = df_indice_pobreza["reporting_pce"].fillna(df_indice_pobreza["reporting_pce"].median())

In [ ]:
# Por otra parte, la columna "estimate_type" está completamente llena de NA's, por lo que no aporta nada de valor al análisis y es mejor eliminarla completamente.

df_indice_pobreza= df_indice_pobreza.drop(columns=["estimate_type"])

In [ ]:
df_indice_pobreza.isna().sum() # Ahora verificamos que el data frame no posee NA's

In [ ]:
df_indice_pobreza.dtypes #Los variables son del tipo que se espera de ellas

In [ ]:
df_indice_pobreza.duplicated().sum() # No tenemos columnas duplicadas